.navigation-bar-fixed{
	background: white;
}
#banner-shape{
	position: absolute;
	z-index: 1;
	width: 95%;
}

.header-background{
	background: rgb(19,91,199);
background: radial-gradient(circle, rgba(19,91,199,1) 0%, rgba(14,0,162,0.9990371148459384) 58%);
	height: 900px;
}

.header-content{
	position: relative;
	padding-top: 150px;
	z-index: 5;
}

.header-content .col-6:last-child img{
	width: 100%;
}


.header-subtitle{
	font-size: 20px;
}

.button-get-vpn{
	background: skyblue;
	text-decoration: none;
	padding: 2% 4%;
	border-radius: 100px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.button-get-vpn:hover{
	background: #262626;
	transition: 0.25s;
	color: white; 
}

.threat-block{
	box-shadow: 1px 7px 50px 4px rgba(0,0,0,0.2);
}

#usevpn-image{
	position: absolute;
	z-index: 1;
	width: 25%;
	max-width: 400px;
}

.title-why{
	padding-top: 100px;
}

.why-blocks{
	position: relative;
	z-index: 3;
}

.why-blocks p{
	font-size: 17px;
}

.why-block{
	box-shadow: 1px 7px 50px 4px rgba(0,0,0,0.2);
	cursor: pointer;
}

.why-vpn-background{
	padding-bottom: 100px;
}

.get-started-background{
	background: url('../images/media/cta-bg.png');
	height: 300px;
}

.pricing-background{
	padding-top: 100px;
	padding-bottom: 100px;
	background: url('../images/media/price-bg.png');
	background-repeat: no-repeat;
  background-size: auto;
}

.pricing-block{
	box-shadow: 1px 7px 50px 4px rgba(0,0,0,0.2);
}

.under-title-pricing{
	color: skyblue;
	font-size: 13px;
}

.get-plan{
	background: #daf7f2;
	border-radius: 100px;
	margin: 0 auto;
	padding:5% 10%;
	font-weight: bold;
	font-size: 17px;
	color: #00014d;
}

.pricing-block:hover .get-plan{
	background: #001dad;
	color: white;
	transition: 0.25s;
}

.price{
	font-weight: bold;
}

.price span{
	font-size: 50px;
}
.price sup{
	font-size: 30px;
}

.button-buy-now{
	position: relative;
	bottom: -15px;
	background: #262626;
	text-decoration: none;
	padding: 7% 10%;
	border-radius: 100px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.button-buy-now:hover{
	background: skyblue;
	transition: 0.25s;
	color: white;
}

.button-buy-now img{
	width: 10%;
}